.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 3rem;
    background: rgb(19, 15, 15);
    color: white;
    font-size: 70px;
    font-weight: 3rem;
    padding: 2%;
}  
.display:hover{
    background: white;
    color: black;
}