/* All styles for your Card Components live here */

.banner-content{
    width: 100%;

   margin-bottom: -4px;
  }
  .atom-image{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 99.5%;
    height: 500px;
    margin: 0;
 
  }
.card-container{
    margin-left: 6%;
    margin-top: 0;

}
.card-content{
   border-left: 1px solid pink;
   border-right: 1px solid pink;
   border-bottom: 1px solid pink;
   margin-left: 0px;
   padding-left: 10px;
   margin-top: 0;
   width: 98.5%;
   border: 1px solid pink;
} 
